.dataTables_scrollBody > table.invoicetables {
    border: 1px solid #ccc;
    border-radius: 5px;
    border-bottom:none
}

.dataTables_scrollBody > table.invoicetables tbody{
    border-radius: 0px 0px 5px 5px
}

#reporttablebuttons {
    padding-top: 20px
}

#reportingtable li > span > span{
    display: block;
}

.dataTables_scrollHead thead{  
    border-color: #CCCCCC #CCCCCC -moz-use-text-color;
    border-image: none;
    border-radius: 5px 5px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px 0
}

.dataTables_scrollHead, .dataTables_scrollHeadInner, div.dataTables_scrollHead table {
    border-radius: 5px 5px 0;
}

.dataTables_scrollHead thead th:first-child {
    border-radius: 5px 0;
}

.DTCR_pointer {
    background: url("../../img/glyphicons-halflings.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    border: 1px solid;
    margin-left: -1px;
    margin-top: 0;
    width: 0;
    border-color:#888
}

#inverror td, #inverror th {
    padding-bottom: 0;
    padding-top: 0;
}

#inverror_wrapper thead th:last-child {
    text-align: right !important;
}

.DTFC_RightBodyWrapper td {
    padding: 0;
}
.DTFC_RightHeadWrapper table {
    border-right: 1px solid #CCCCCC;
    margin: 1px 0 0 !important;
}

.DTFC_RightBodyLiner > table{
    border-right: 1px solid #CCCCCC;
}

.DTFC_RightHeadWrapper, .DTFC_RightBodyWrapper {
    border-left: 1px solid #888888;
    box-shadow: -7px 0 5px -5px #888888;
}

/* Block out what is behind the fixed column's header and footer */
table.DTFC_Cloned thead,
table.DTFC_Cloned tfoot {
    background-color: white;
}

/* Block out the gap above the scrollbar on the right, when there is a fixed
 * right column
 */
div.DTFC_Blocker {
    background-color: white;
}

div.DTFC_LeftWrapper table.dataTable,
div.DTFC_RightWrapper table.dataTable {
    margin-bottom: 0;
}

div.DTFC_LeftWrapper table.dataTable.no-footer,
div.DTFC_RightWrapper table.dataTable.no-footer {
    border-bottom: none;
}







.fileupload-buttonbar {
    padding-left: 176px;
}

/*.dataTables_scrollHead {
    border-bottom: 1px solid #CCCCCC;
}*/

.DTFC_RightBodyWrapper td span:not(.buttoncell):not(.btn-group):not(.caret) {
    margin-left: 10px;
}

.importanttotals {
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    line-height: normal;
    padding-left: 20px;
    width: 33%;
    vertical-align: top;
}

.invtotals {
    background-color: #F2F2F2;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    color: #5F5F5F;
    padding: 5px 20px 10px;
    margin: 10px auto;
    width:90%;
    display: table;
    /*    background-color: #323232;
        border: 1px solid #000000;
        color:#FFF*/
}
.invtotals > h3 {
    font-weight: normal;
    text-decoration: underline;
}


.totalcontainer {
    clear: both;
    display: table;
    width: 100%;
}


.totalreconciled, .totalgross, .expectedgross {
    font-size: 18px;
}


.othertotals {
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    width: 33%;
    float: right;
}


.invtotals > span {
    padding-left: 20px;
    text-align: center;
    width: 24%;
}

.DTFC_RightBodyWrapper tbody td:last-child {
    padding-right: 4px;
    text-align: right;
}

.invtotals > div {
    text-align: center;
}

.totalcontainer span:last-child {
    display: block;
    margin-left: 56%;
    text-align: left;
    font-weight: bold
}

.totalcontainer span:first-child {
    float: left;
    text-align: right;
    width: 55%;
}


.importanttotals .totalcontainer span:first-child {
    padding-top: 1px;
}

div.modal .dataTables_wrapper div.span6:nth-child(2n) {
    margin-left: 30px;
}


.tab-content {
    overflow: inherit
}

@media only screen and (max-width: 767px) {
    .othertotals, .importanttotals {
        width:49%
    }
    .othertotals {
        float:right
    }
    /* tablets and desktop */
}

@media only screen and (max-width: 480px) {
    .othertotals, .importanttotals {
        width:100%;
        float:left
    }
}

span.errottablehighlight {
    font-weight:bold;
    color:#b94a48
}

.pageconfirmbuttonholder button {margin-left:4px}


td > span.label {
    display: inline-block;
    min-height: inherit !important;
    padding: 2px 4px !important;
    margin-left: 3px;
}

.DTFC_RightBodyLiner {
    width: auto !important;
    overflow-y: hidden !important;
}

.totalreconciled {
    color:#5bb75b
}

.mappingwrapper {
    margin-bottom: 10px;
}