<section id="invoicelines-section" class='' th:fragment="invoice-lines-section" xmlns:th="http://www.thymeleaf.org">
	<div class="page-header sectionbartoggle" tabindex="0">
		<h1>
			<small><i class="icon-chevron-down"></i><span th:text="#{supplierinvoice.outcome.label}">Reconciliation outcome</span></small>
		</h1>
	</div>
	<div class="row anything">
		<div class="span12">
			<fieldset>
				<div class="invtotals">
					<h3><span th:text="#{supplierinvoice.invoicetotals.label}">Invoice totals</span></h3>
					<div class="importanttotals">
						<span class="totalcontainer"><span class="expectedtotalgrosslabel" th:text="#{supplierinvoice.expectedtotals.label}">Expected total:</span><span class="expectedgross">€2000.00</span></span> 
						<span class="totalcontainer"><span class="totalgrosslabel" th:text="#{supplierinvoice.grosstotals.label}">Gross total:</span> <span class="totalgross">€2000.00</span></span>
						<span class="totalcontainer"><span class="totalreconciledlabel" th:text="#{supplierinvoice.reconciled.label}">Reconciled total:</span> <span class="totalreconciled">€0.00</span></span>
					</div>
					<div class="othertotals">
						<span class="totalcontainer"><span class="totalnetlabel" th:text="#{supplierinvoice.nettotal.label}">Net total:</span> <span class="totalnet">€1600.00</span></span>
						<span class="totalcontainer"><span class="totaltaxlabel" th:text="#{supplierinvoice.totaltax.label}">Total tax:</span> <span class="totaltax">€400.00</span></span>
						<span class="totalcontainer"><span class="totalfuellabel" th:text="#{supplierinvoice.totalfuelsurcharge.label}">Total fuel surcharge:</span> <span class="totalfuel">€200.21</span></span>
					</div>
					<div class="othertotals">
						<span class="totalcontainer"><span class="totaljobslabel" th:text="#{supplierinvoice.totaljobs.label}">Total jobs:</span> <span class="totaljobs">204</span></span>
						<span class="totalcontainer"><span class="totalweightlabel" th:text="#{supplierinvoice.totalweight.label}">Total weight:</span> <span class="totalweight">500kg</span></span>
					</div>
				</div>
			</fieldset>
		</div>
		
		<div class="span12" th:with="df1=${'dd-MMM-yyyy'}, df2=${'yyyyMMdd'}">
			<form class="form-horizontal">
				
				<table border="1" class="datatabled table-condensed table table-striped invoicetables" id="invoicejobs" width="100%" data-datatablescroll="Y" data-fixright="3">
					<thead>
						<tr>
							<th data-datasort="Y" th:text="#{supplierinvoice.jobbookingdate.label}">Booking date</th>
							<th th:text="#{supplierinvoice.jobhawb.label}">HAWB</th>
							<th th:text="#{supplierinvoice.jobclient.label}">Client</th>
							<th th:text="#{supplierinvoice.jobpickup.label}">Pickup</th>
							<th th:text="#{supplierinvoice.jobdestination.label}">Destination</th>
							<th th:text="#{supplierinvoice.jobweight.label}">Weight</th>
							<th> 
								<span th:text="#{supplierinvoice.jobsalesprice.label}">Sale price</span><br/> 
								(<span th:text="${curierCurrencyCode}">(GBP)</span>)
							</th>
							<th th:text="#{supplierinvoice.jobprofit.label}">Profit %</th>
							<th th:text="#{supplierinvoice.jobcostpresurcharge.label}">Cost pre surcharge</th>
							<th>
								<span th:text="#{supplierinvoice.jobgbpcost.label}">Cost</span><br/>
								(<span th:text="${curierCurrencyCode}">(GBP)</span>)
							</th>
							<th data-defaultsort="desc" th:text="#{supplierinvoice.jobthirdpartyref.label}">3rd party ref</th>
							<th> 
								<span th:text="#{supplierinvoice.jobeurcost.label}">Cost</span><br/>
								(<span th:text="${supplierCurrencyCode}">(EUR)</span>)
							</th>
							<th>
								<button id="reconcilecosts" class="btn btn-success pull-right" th:text="#{supplierinvoice.reconcileall.button}">Reconcile all</button>
							</th>
						</tr>
					</thead>
					<tbody th:if="${not #lists.isEmpty(allJobs)}">
						<tr class="" th:each="it,stat : ${allJobs}" 
							th:classappend="${it.isReconciled eq true ? 'success' : ''} + ' ' + ${stat.index % 2 eq 0 ? 'even' : 'odd'}">
							<td><span th:attr="data-sort-value=${#dates.format(it.bookingDate, df2)}" th:text="${#dates.format(it.bookingDate, df1)}">07-Feb-2014</span></td>
							<td><span th:text="${it.hawb}">HAWB</span></td>
							<td><span th:text="${it.client.code}">Client</span></td>
							<td><span th:text="${it.pickupFrom}">Pickup</span></td>
							<td><span th:text="${it.deliveryTo}">Destination</span></td>
							<td><span th:text="${it.weight ne null ? #numbers.formatDecimal(it.weight,1,2) : '0.00'}">Weight</span></td>
							<td><span th:text="${it.salesPrice ne null ? #numbers.formatDecimal(it.salesPrice,1,2) : '0.00'}">Sale price (GBP)</span></td>
							<td><span th:text="${it.profit ne null ? #numbers.formatDecimal(it.profit,1,2) : '0.00'}">Profit %</span></td>
							<td><span th:text="${it.costBeforeSurcharge ne null ? #numbers.formatDecimal(it.costBeforeSurcharge,1,2) : '0.00'}">Cost pre surcharge</span></td>
							<td><span th:text="${it.totalCostInCourierCurrency ne null ? #numbers.formatDecimal(it.totalCostInCourierCurrency,1,2) : '0.00'}">Cost(GBP)</span></td>
							<td><span th:text="${it.tref}">3rd party ref</span></td>
							<td><span th:text="${it.totalCostInSupplierCurrency ne null ? #numbers.formatDecimal(it.totalCostInSupplierCurrency,1,2) : '0.00'}" >Cost (EUR)</span></td>
							<td>
								<span class="buttoncell">
									<button class="btn confirmmatch"><i class="icon icon-check"></i></button>
									<button class="btn track" data-toggle="modal" data-target="#invrecmodal"><i class="icon icon-pencil"></i></button>
								</span>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td class="searchable">Tue, 02-Jan-2014</td>
							<td class="searchable">3rd party ref</td>
							<td class="searchable">Client</td>
							<td class="searchable">Pickup</td>
							<td class="searchable">Destination</td>
							<td class="searchable">Weight</td>
							<td><span class="actionfiller"></span></td>
							<td><span class="actionfiller"></span></td>
							<td><span class="actionfiller"></span></td>
							<td><span class="actionfiller"></span></td>
							<td class="searchable">HAWB</td>
							<td><span class="actionfiller"></span></td>
							<td><span class="actionfiller"></span></td>
						</tr>
					</tfoot>
				</table>
			</form>
			<div class='pull-right pageconfirmbuttonholder'>
				<button id="lockjobs" class="btn btn-primary pull-right" th:text="#{supplierinvoice.lockmanifest.button}">Lock manifest</button>
			</div>
		</div>
	</div>
</section>


